<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../topics/src/problem.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="../src/load_problem.js" type="module"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script> <!-- for writing mathematical equations-->
    <script>window.MathJax = { options: { enableMenu: false } };
    </script>
</head>


<body>
    
<h1 id="problem_number"></h1>

<p id="p_type">Type: <span id="type"></span></p>
<p id="p_difficulty">Difficulty: <span id="difficulty"></span>/10</p>

<h3 id="problem_text"></h3>

<button id="show_answer">Show Answer</button>
<button id="show_solution">Show Solution</button>
<button id="not_completed" class="not_completed">Not completed</button>
<h3 id="answer"></h3>
<h3 id="solution"></h3>

<h1 class="return_next"><a href="" id="a_return_next"><span id="next-problem"></span></a></h1>
<h1 class="return_prev"><a href="" id="a_return_prev"><span id="prev-problem"></span></a></h1>



<h1 class="return_first">⬅ <a href="" id="return_topic"></a></h1>
<h1 class="return">⬅ <a href="" id="return_sub-topic"></a></h1>
<h1 class="return"><a href="../../../../index.html">⬅ Back to Main page</a></h1>


<h2 class="footer">About:</h2>
<p class="link"><a href="https://discord.gg/xFGw5Spd5V" target="_blank"><img src="../styles/discord_icon.png" id="discord_icon" alt="Discord">Discord</a></p>
<p class="link"><a href="mailto:physnex@gmail.com" target="_blank"><img src="../styles/gmail_icon.png" id="gmail_icon" alt="Gmail">Gmail</a></p>


</body>



</html>