:root {
    --bg-color: #121212;
}

body {
    background-color: #121212;
}


.constant, .formulae {
    font-size: 30px;
    gap: 15px;
    color: white;
    margin-left: 1%;
}

.topic {
    text-align: center;
    font-size: 35px;
    color: white;
}

.sub-topic {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 50px;
    color: white;
    margin-left: 1%;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}

a {
    color: white;
    transition: color 0.5s ease;
}

a:hover {
    color: rgb(0, 255, 0);
}