.constant, .formulae {
    font-size: 30px;
    gap: 15px;
}

.topic {
    text-align: center;
    font-size: 35px;
}

.sub-topic {
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 50px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}