<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Formulae and constants</title>
    <link rel="stylesheet" href="./style/index.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="../global_script/load_img.js" type="module"></script>
</head>


<body>

<h1 id="main">Formulae and constants</h1>

<ul>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=2" class="topic_a">Mechanics formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=4" class="topic_a">Molecular physics and Thermodynamics formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=1" class="topic_a">Electricity and Magnetism formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=6" class="topic_a">Optics formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=7" class="topic_a">Oscillations and waves formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=8" class="topic_a">Quantum Physics formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=5" class="topic_a">Nuclear physics formulae</a>
        </div>
    </li>

    <li class="topic">
        <div class="topic_header">
            <a href="./formula_topic.html?id=3" class="topic_a">Modern Physics formulae</a>
        </div>
    </li>

</ul>

<h2 id="constants"><a href="./constants.html" class="topic_a">Physical constants</a></h2>

<h2 class="link"><a href="../../index.html" class="topic_a">⬅ Back to PhysNex</a></h2>

<h2 class="footer">About:</h2>
<p class="link"><a href="https://discord.gg/xFGw5Spd5V" target="_blank" class="topic_a"><img  id = "discord_icon" alt="Discord">Discord</a></p>
<p class="link"><a href="mailto:physnex@gmail.com" target="_blank" class="topic_a"><img  id="gmail_icon" alt="Gmail">Gmail</a></p>


</body>


</html>