:root {
    --bg-color: #121212;
}

body {
    background-color: #121212;
}


#formulae_container {
    font-size: 25px;
    color: white;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}

.footer {
    margin-top: 120px;
    text-align: center;
    font-size: 50px;
    color: white;
}

#formulae_container {
    font-size: 25px;
}


.card {
    margin: 70px 0px 0px 15%;
    width: 70%;
    border: 5px solid rgb(17, 186, 175);
    border-radius: 15px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    cursor: pointer;
    background-color: #333131;
    transition: 0.5s;
}

.card .back { 
    display: none; 
}

.card.flipped .front { 
    display: none;
}

.card.flipped .back {
    display: block;
}

.next_card {
    margin: 50px 0px 40px 42.5%;
    padding: 15px 30px;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    color: rgb(0, 255, 0);
}