:root {
    --bg-color: #121212;
}

body {
    background-color: #121212;
}


#main {
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.topic_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: fit-content;
    color: white;
}


ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   /* 2 columns max*/
    gap: 40px;
    color: white;
}


.topic {
    border-width: 4px;
    padding: 10px;
    font-size: 20px;
    border: 4px solid rgb(17, 186, 175);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 70px;
    transition: box-shadow 0.5s;
}

.topic_a {
    color:white;
    transition: color 0.5s ease;
    text-decoration: none;
}

.topic_a:hover {
    color: rgb(0, 226, 0);
}

.topic:hover {
        box-shadow: 0px 0px 15px rgba(17, 186, 175, 0.3),
                0px 0px 25px rgba(17, 186, 175, 0.3),
                0px 0px 50px rgba(17, 186, 175, 0.3),
                0px 0px 150px rgba(17, 186, 175, 0.3);
}

.topic_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 35px;
}

#constants {
    font-size: 40px;
    margin: 40px auto 0 auto;
    border: 4px solid rgb(17, 186, 175);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: fit-content;
    display: block;
    padding: 17px;
    border-width: 4px;
    margin-bottom: 40px;
    transition: box-shadow 0.5s;
}

#constants:hover {
    box-shadow: 0px 0px 15px 15px rgba(17, 186, 175, 0.3);
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.link {
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}
