#main {
    font-size: 35px;
    text-align: center;
}

.topic_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: fit-content;
}

.topic_icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   /* 2 columns max*/
    gap: 30px;
}


.topic {
    border-width: 4px;
    padding: 10px;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 10px;
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 40px;
}

.topic_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
}

#constants {
    font-size: 30px;
    margin: 40px auto 0 auto;
    border: 4px solid black;
    border-radius: 10px;
    outline: 2px solid black;
    padding: 10px;
    position: relative;
    width: fit-content;
    display: block;
    padding: 17px;
    border-width: 4px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}
