#show_solution {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}

#show_answer {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#answer {
    display: none;
    margin-bottom: 30px;
    font-size: 30px;
}

#solution {
    display: none;
    margin-top: 65px;
    font-size: 30px;
}

#problem_text {
    font-size: 32px;
}


.footer {
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}