:root {
    --bg-color: #121212;
}

body {
    background-color: #121212;
}


h1 {
    color: white;
}

#show_solution {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}

#show_answer {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#answer {
    display: none;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}

#solution {
    display: none;
    margin-top: 65px;
    font-size: 30px;
    color: white;
    margin-bottom: 8% ;
}

#problem_text {
    font-size: 32px;
    color: white;
}


.footer {
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}

#type, #difficulty {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

#problem_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#solution_image, #answer_image {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.return, .return_first {
    font-size: 27px;
    margin-top: 25px;
    text-align: center;
}

.return_first {
    margin-top: 5%;
}

.not_completed {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.884);
}
.completed {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    background-color: rgba(0, 255, 0, 0.884);
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    color: rgb(0, 255, 0);
}