.sub_topic {                                
    margin-top: 4px;
    font-size: 30px;
}
.footer {
    margin-top: 600px;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
.discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}

.sub_topic {
    margin-bottom: 17px;
    font-size: 20px;
}

#list {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 7px;
}

.problem {
    font-size: 20px;
    margin-left: 7px;
    margin-bottom: 50px;
}


.footer {
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

.discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}


#search_results {
    margin-top: 30px;
    font-size: 15px;
}


.about {
    font-size: 22px;
}


.not_completed_problem {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: rgba(164, 16, 16, 0.884);
}

.completed_problem {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: rgba(12, 152, 12, 0.884);
}
