.sub_topic {                                
    margin-top: 4px;
}
.footer {
    margin-top: 600px;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
.discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}

#sub_topic {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

#list {
    margin-top: 20px;
    font-size: 35px;
    margin-left: 7px;
}

.problem {
    font-size: 20px;
    margin-left: 7px;
    margin-bottom: 50px;
}


.footer {
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}