:root {
    --bg-color: #121212;
}

body {
    background-color: #121212;
}

h1 {
    color: white;
    text-align: center;
    font-size: 45px;
}

.about {
    color: white;
    font-size: 30px;
    text-align: center;
}

.footer {
    margin-top: 600px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.footer {
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#gmail_icon {
    width: 85px;
    height: 55px;
    margin-right: 7px;
    vertical-align: middle;
}

#discord_icon {
    width: 70px;
    height: 50px;
    margin-right: 7px;
    vertical-align: middle;
}


a {
    color: white;
    transition: color 0.5s ease;
}

a:hover {
    color: rgb(0, 226, 0)
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    margin-bottom: 55px;
}

.card {
    font-size: 30px;
    border: 4px solid rgb(17, 186, 175);
    padding: 15px;
    border-radius: 10px;
    outline: 2px solid black;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0;
    transition: box-shadow 0.5s;
}

.card:hover {
        box-shadow: 0px 0px 15px rgba(17, 186, 175, 0.3),
                0px 0px 25px rgba(17, 186, 175, 0.3),
                0px 0px 50px rgba(17, 186, 175, 0.3),
                0px 0px 150px rgba(17, 186, 175, 0.3);
}

.sub_topic {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: white; 
    text-decoration: none;
    transition: color 0.5s ease;
}

.sub_topic:hover {
    color: rgb(0, 226, 0);
}

.problem {
    color: white;
    font-size: 23px;
    margin-bottom: 5%;
    margin-left: 1%;
}

.a_problem{
    text-decoration: none;
}

.a_problem:hover {
    text-decoration: underline;
}

.return {
    margin-top: 15%;
    font-size: 35px;
}

.return_main {
    font-size: 35px;
}

#list {
    color: white;
    font-size: 30px;
    margin-left: 1%;
}

.not_completed_problem {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 23px;
    color: rgba(255, 0, 0, 0.884);
}

.completed_problem {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: rgba(12, 152, 12, 0.884);
}