.topic {
    font-size: 20px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.topic_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.topic_icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.sub_topic {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}



ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   /* 4 columns max*/
    gap: 30px;
}



li.topic ul {
    flex: auto; 
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}



.sub_topic:nth-child(n+4) {    /* hide sub-topics after the 3rd one */
    display: none; 
}

ul:has(li:nth-child(4))::after {   /* if there 3 sub-topics will be "... and more */
    content: "... and more";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}


.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
.discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}

#catalogue {
    margin-top: 35px;
    font-size: 35px;
    text-align: center;
}


.welcome {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

#physnex {
    width: 100px;
    height: 70px;
    top: 20px;
    position: relative;
    left: -20px;
}


.search {
    text-align: center;
    position: relative;
    font-size: 20px;
    display: block;
    float: center;
}

#search_bar {
    width: 45%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    float: center;
}