.topic {
    margin-top: 25px;
    font-size: 20px;
}
.sub_topic {
    margin-top: 10px;
    margin-bottom: 10px;
    counter-reset: section;
}

ol {
    list-style: none;
    counter-reset: topic-counter;
}

li.topic {
    counter-increment: topic-counter;
}

li.topic ul {
    counter-reset: subtopic-counter;
}

li.sub_topic {
    counter-increment: subtopic-counter;
}

li.sub_topic::before {
    content: counter(topic-counter) "." counter(subtopic-counter) " ";
}

li.topic::before {
    content: counter(topic-counter) " "
}


.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

.link {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
.discord_icon {
    width: 70px;
    height: 45px;
    margin-right: 7px;
    vertical-align: middle;
}

#catalogue {
    margin-top: 20px;
    font-size: 35px;
}

.welcome {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

#physnex {
    width: 100px;
    height: 70px;
    top: 20px;
    position: relative;
    left: -20px;
}